* {
    box-sizing: border-box;
}

header {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: arial;
}
#object_1 {
    width: 200px;
    background-color: #bdbaba;
    border: 2px solid black;
    border-radius: 2px;
}

#object_2 {
    width: 18px;
    background-color: #bdbaba;
    border: 2px solid black;
    border-radius: 2px;
}

#object_3 {
    margin: 10px 0;
    width: 200px;
    background-color: #bdbaba;
    border: 2px solid black;
    border-radius: 2px;
}

#object_4 {
    margin: 10px 0;
    width: 200px;
    background-color: #bdbaba;
    border: 2px solid black;
    border-radius: 2px;
}

.direccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.button {
    width: 100px;
    margin-left: 50px;
    border: 2px solid green;
    border-radius: 2px;
    background-color: rgb(10, 221, 28);
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(57, 161, 25);
    color: white;
    transition: 0.4s;
}

